.container {
    /* max-width: 400px; */
    margin: auto;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #e2e8f0;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    position: relative;
    gap: 5px;
}
.card::before {
    content: "";
    position: absolute;
    left: 8%;
    bottom: -34px;
    height: 30px;
    width: 2px;
    background: repeating-linear-gradient(to bottom, #004680,  #004680 5px, transparent 5px,  transparent 10px);
}

.card:last-of-type::before {
    display: none;
}
.left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
    width: 40px;
    height: 40px;
    background-color: #e6f0fb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.title {
    font-size: 18px;
    font-weight: 500;
    color: #232323;
}

.commentLink {

    display: flex;
    align-items: center;
    gap: 6px;
}

.commentLink p {
    font-size: 14px;
    font-weight: 600;
    color: #004680;
}

.commentLink img {
    width: 16px;
    height: 16px;
}

.note {
    font-size: 13px;
    color: #4a5568;
    margin-top: 10px;
    padding: 0 4px;
    text-align: center;
    margin-bottom: 1rem;
}

/* Modale Conent CSS Start */
.modalInner {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: -webkit-fill-available;
    overflow-y: auto;
}

.modalTitle {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #232323;
}

/* .previewBox{
    min-height: 300px;
    max-height: 300px !important;
    border: 1px solid red;
} */

.previewBox img {
    width: 100% !important;
    max-height: 100%;
    object-fit: cover;
}


.chatWrapper {
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 1rem 4rem;
    padding-right: 10px;
}

.commentItem {
    display: flex;
    flex-direction: column;
}

.left {
    align-self: flex-start;
    text-align: left;
}

.right {
    align-self: flex-end;
    text-align: right;
}

.adminBlock {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.adminBubble {
    background-color: #f1f7ff;
    color: #26211F;
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 14px;
    display: inline-block;
    max-width: 70%;
    word-break: break-all;
}

.userBubble {
    background-color: #004680;
    color: #fff;
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 14px;
    display: inline-block;
    max-width: 70%;
    text-align: left;
    word-break: break-all;

}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.timestamp {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #555;
    text-transform: uppercase;
}






.commentList span {
    color: #26211F;
    text-align: right;
    font-size: 12px;
    margin-block: 10px 20px;
}



.commentBubble p {
    font-size: 14px;
    font-weight: 500;
}

.commentBubble span {
    font-size: 10px;
    color: #ccc;
    display: block;
    margin-top: 4px;
    text-align: right;
}

.commentInput {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: fixed;
    bottom: 10px;
    width: 100%;
    left: 0;
    padding-inline: 20px;
    background-color: #ffff;
}

.inputBox {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    min-height: 70px;
}

.inputBox::placeholder {
    font-size: 16px;
    color: #bcc3d4;
}

.commentButton {
    background-color: #EEF7FF;
    color: #004680;
    padding: 10px;
    font-weight: 600;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 18px;
    min-height: 50px;

}