.modalOverlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  width: 100%;
  height: 70vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.slideUp {
  animation: slideUp 0.3s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.slideDown {
  animation: slideDown 0.5s ease-in forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.closeButton {
  position: absolute;
  top: -4%;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  transform: translateY(-20px);
  animation: fadeInDown 0.3s ease-out forwards;
}


@keyframes fadeInDown {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
