.container {
  background: white;

}

.header {
  text-align: left;
  padding: 20px 20px 0 20px;
}

.statusBadge {
  display: table-cell;
  background: #FDBD24;
  color: #ffffff;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 500;
  /* padding: 0 20px; */
}

.projectTitle {
  font-size: 28px;
  color: #26211F;
  margin: 10px 0;
}


.projectSelector select {
  font-size: 28px;
  font-weight: 700;
  outline: none;
  border: none;
}

.subText {
  font-size: 16px;
  color: #7A7A7A;
  font-weight: 500;
  margin: 0px 0 30px 0;
}

.progressTracker {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px;
  gap: 20px;
  /* width: 100%; */
  overflow: auto;
  background-color: #fff;
  padding: 20px 30px 20px 20px;
}

.step {
  text-align: center;
}

.circle {
  width: 104px;
  height: 104px;
  background-color: #EEF7FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.count {
  position: absolute;
  top: -10px;
  right:0px;
  color: #26211F;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  background-color: #7A7A7A;
  /* position: relative; */
}

.counttip {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid;
  border-right: 10px solid #ffffff00 !important;
  left: 0;
  position: absolute;
  bottom: -6px;
}
.count span:first-child {
  color: rgb(255, 255, 255);
}
.icon {
  width: 32px;
}

.label {
  font-size: 16px;
  color: #26211F;
  font-weight: 600;
  margin-top: 5px;
}

.progressBar {
  display: flex;
  gap: 5px;
  height: 5px;
    /* margin-top: 10px; */
    padding-inline: 20px;
}

.barSegment {
  flex: 1;
  border-radius: 20px;
  height: 12px;
}
.whiteCount {
  color: #ffffff; 
}

.ForLoder{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-device-width: 769px) and (max-device-width: 1500px) {
  .ForLoder{
    left: 60%;
  }
}
@media screen and (min-device-width: 1501px) and (max-device-width: 2561px) {
  .container{
    padding-inline: 20px;
  }
  .ForLoder{
    /* left: 60%; */
  }
}