.detailsDiv {
  text-align: center;
}

.blackLogo {
  padding-top: 2rem ;
  padding-bottom: 1rem;
  background-color: #ffffff;
}

.OtpMain {
  margin-top: 2rem;
}

.OtpMain h2 {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 600;
}

.OtpMain p {
  color: #828389;
  font-weight: 500;
  font-size: 16px;
}

.OtpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.input {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #e0e0e0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  background-color: white;
  color: #26211F;
}

.active {
  border-color: 004680;
}


.filled {
  border-color: #e0e0e0;
}

.Input1 {
  border: 1px solid #E0E5F2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px 20px;
  min-height: 50px;
  border-radius: 15px;
  margin-inline: 20px;
  margin-top: 2rem;
}

.Input1 input {
  border: none;
}


.resend {
  margin-top: 3rem;
}

.BtnDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
  gap: 20px;
  margin-top: 2rem;

}

.BtnDiv p {
  margin: 0px;

}

.ContinueBtn {
  padding: 10px 30px;
  border-radius: 16px;
  background-color: #EEF7FF;
  width: 100%;
  cursor: pointer;
}

.ContinueBtn p {
  color: #004680;
  font-weight: bold;
}

@media screen and (min-device-width: 769px) and (max-device-width: 2561px) {
  .VerifyMain{
    max-width: 600px;
    margin: auto;
  }
}