.ListMian {
  padding-inline: 20px;
  margin-top: 2rem;
}

.Part1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.title p {
  font-size: 22px;
  font-weight: 600;
  color: #26211F;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownBtn {
  background: none;
  border: none;
  font-size: 16px;
  color: #26211F;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px;
}

.arrow {
  margin-left: 5px;
  font-size: 16px;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  list-style: none;
  padding: 5px 0;
  margin: 0;
  width: 120px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
}

.dropdownBtn:focus {
  outline: none;
}

.dropdownMenu li {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  color: #26211F;
}

.dropdownMenu li:hover {
  background: #f0f0f0;
}

.arrow {
  margin-left: 5px;
  font-size: 12px;
  transition: transform 0.3s ease;
  pointer-events: none;
}

.rotate {
  transform: rotate(180deg);
}


/* List Data Css Start */
.transactionList {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.transactionItem {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

/* .transactionItem:last-child {
    border-bottom: none;
  } */

.image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  background: #f6fbff;
  padding: 8px;
}

.details {
  flex-grow: 1;
}

.track {
  display: block;
  align-items: center;
  white-space: nowrap;


}

.DFlex {
  display: flex;
  gap: 5px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #26211F;
  margin: 0;
}

.date {
  font-size: 12px;
  color: gray;
  display: flex;
  align-items: center;
  margin: 0;
  border-right: 1px solid;
  padding-right: 5px;
}

.amount {
  font-size: 14px;
  font-weight: bold;
  color: #004680;
  margin: 0;
}

.status {
  font-size: 12px;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 5px;
  text-align: center;
  min-width: 80px;
}

.Pending {
  background-color: #004a99;
  color: white;
}

.Paid {
  background-color: #28a745;
  color: white;
}

.PartlyPaid {
  background-color: #f39c12;
  color: white;
}

.transactionList .transactionItem:last-child {
  margin-bottom: 3rem;

}


.noData {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 3rem;
  left: 0;
}

.noData>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.NoDataTittle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  color: #5A6479;
}

.noData img:first-child {
  animation: floatUpDown 3s ease-in-out infinite;
  width: 100px;
}

@keyframes floatUpDown {

  0%,
  100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(-10px);
  }
}
.noFileBtn {
  background-color: #004a99;
  color: #fefdfe;
  border: 1px solid   #004a99;
  border-radius: 8px;
  padding: 0.4rem 0.7rem;
  font-size: 0.8rem;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.noFileBtn:hover {
  background-color: #f1b0b7;
  color: #5a131e;
}

