.headerMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 10px 10px;
    background-color: #F7F6F9;
}

.titleDiv {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.titleDiv h2 {
    margin-block: 3px;
    color: #26211F;

}

.IconBoth {
    display: flex;
    gap: 10px;
}