.footerSideIcon{
    padding:  0 20px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footerIcon{
    
    
    display: flex;
    align-items: center;
    gap: 10px;
}



.footerFixed{
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    height: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 0 10px 0;

}

.footerSideIcon a svg{
    margin: auto;
}

.footerSideIcon a{
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 3px;
    font-size: 14px;
    text-decoration: none;
    /* color: #004680; */
    font-weight: 600;
}

.footerMain{
    margin: 0 0 49px 0;
}

.footerSideIcon a span{
    /* display: none; */
    visibility: hidden;
}

.footerSideIcon a.activeLink span{
visibility: visible;
    color: #004680;
}

.footerSideIcon a.activeLink svg path{
    fill: #004680;
    
        color: #004680;
    }
