.footerSideIcon {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerIcon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footerFixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px 0 5px 0;
    border-radius: 10px 10px 0 0;
    z-index: 111;
}

.footerSideIcon a svg {
    margin: auto;
}

.footerSideIcon a {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 3px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}

.footerMain {
    margin: 0 0 49px 0;
}

.footerSideIcon a span {
    visibility: hidden;
}

.footerSideIcon a.activeLink span {
    visibility: visible;
    color: #004680;
}

.footerSideIcon a.activeLink svg path {
    fill: #004680;
    color: #004680;
}

/* Animation CSS START */
@keyframes bounceZoom {
    0% {
        transform: scale(0.95) translateY(0);
        opacity: 0.6;
    }

    50% {
        transform: scale(1.05) translateY(-4px);
        opacity: 1;
    }

    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeUp {
    0% {
        transform: translateY(4px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.activeLink svg {
    animation: bounceZoom 0.4s ease;
}

.activeLink span {
    animation: fadeUp 0.4s ease forwards;
}


@media (min-width: 768px) {
    .footerFixed {
        display: none; 
    }
}


@media (max-width: 767px) {
    .footerFixed {
        display: block; /* Show footer on smaller screens */
    }
}


