.PunchImageSlider {
    width: 100% !important;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
    position: relative;
}

.slideImg {
    padding: 0;
}

.flexImages {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.PunchImageSlider1 {
    display: grid;
}

.PunchImageSlider .slick-slider {
    width: 100%;
}

.slideImg {
    width: 75px;
    height: 75px;
}

.slideImg img {
    width: 100%;
    max-width: 75px;
}


.orderDetails1 {
    display: grid;
    width: 100%;
    overflow: auto;
}


/* Arrow base styles */
.arrow {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: #004680;
    border: 2px solid #ffffff00;
    font-size: 24px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.left {
    left: 0px;
}


.right {
    right: 0px;
}