.threadContainer {
    width: 100% !important;
    margin: 0 auto;
    background-color: white;
    /* border: 1px solid; */
    bottom: 0px;
    /* position: absolute; */
    max-height: 300px;
    z-index: 11;

}

.header {
    margin-bottom: 16px;
    border-bottom: 1px solid #D9D9D9;
}

.header p {
    font-size: 25px;
    color: #26211F;
    padding-inline: 20px;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 600px;
    overflow-y: scroll;
    padding-block: 1rem 7rem;
}

.supportMessageRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding-block: 1rem 3rem; */
}

.userMessageRow {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-inline: 10px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 8px;
}

.messageBubbleSupport {
    background-color: #f1f7ff;
    color: #26211F;
    padding: 10px 15px;
    border-radius: 12px;
    max-width: 90%;
    font-size: 14px;
    display: inline-block;
    word-break: break-all;
}

.right {
    align-self: flex-end;
    text-align: right;
}

.messageBubbleUser {
    background-color: #004680;
    color: #fff;
    padding: 10px 15px;
    border-radius: 12px;
    max-width: 90%;
    font-size: 14px;
    display: inline-block;
    text-align: left;
    word-break: break-all;
}

.timestamp {
    font-size: 12px;
    font-weight: 500;
    color: #26211F;
    margin-top: 4px;
    padding-left: 4px;
    text-transform: uppercase;
}

.timestamp2 {
    font-size: 12px;
    color: #26211F;
    margin-top: 4px;
    padding-left: 4px;
    text-align: right;
    text-transform: uppercase;
}

.commentBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    bottom: 15px;
    width: 100%;
    left: 0;
    padding-inline: 10px;
    padding-block: 10px;
    background-color: #ffff;

}

.inputField {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
    min-height: 55px;
}

input::placeholder {
    color: #bcc3d4;
}

/* .commentButton {
    background-color: #EEF7FF;
    color: #004680;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

.commentButton:hover {
    background-color: #d0e7fd;
} */


.inputWrapper {
    position: relative;
    width: 100%;
}

.inputField {
    width: 100%;
    padding: 10px 40px 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}


.sendButton {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
}

.sendIcon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}



/* .commentBox {
    position: fixed;
    width: 100%;
  } */

.inputField {
    width: 100%;
    padding: 10px 40px 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.commentButton {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
}

.sendIcon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}









.imageRow {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.image {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 50%;
}

.image:hover {
    transform: scale(1.05);
}

.commentHistory {
    font-size: 22px;
    color: #26211F;
    font-weight: 600;
    margin-bottom: 20px;
}




@media screen and (min-device-width: 768px) and (max-device-width: 2600px) {
    .threadContainer {
        width: 50%;
    }

    /* .commentBox{
        position: absolute;
    } */
    .messages {
        padding-block: 1rem 1rem;

    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1400px) {
    .messages {
        max-height: 525px;
    }

}

@media screen and (min-device-width: 319px) and (max-device-width: 767px) {
    .commentBox {

        position: fixed;
        bottom: 0;
    }

}